@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --primary: #4279ee;
  --secondary: #ff8643;
  --prpl: #3f37c9;
  --black: #212529;
  --white: #dcdcdc;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
  overflow-x: hidden;
  background: #121212;
}

.page {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 1.625rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.0625rem;
}
h4 {
  font-size: 0.9375rem;
}
h5 {
  font-size: 0.8125rem;
}
h6 {
  font-size: 0.625rem;
}
.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-justify {
  text-align: justify;
}

a {
  text-decoration: none;
  color: var(--prpl);
}

a:hover {
  color: var(--primary);
}

.btn {
  border-radius: 2px !important;
  box-shadow: unset !important;
  padding: 10px 28px;
  font-size: 16px;
}

.btn-primary {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
}

.btn-primary:hover {
  background-color: #fff;
  color: var(--primary);
}

.btn-secondary {
  background: linear-gradient(to left, #fff 50%, var(--prpl) 50%) right;
  transition: all 0.5s ease;
  color: var(--primary);
  border: 1px solid var(--prpl) !important;
  background-size: 300%;
}

.btn-secondary:hover {
  background-position: left;
  color: #fff !important;
  border: 1px solid var(--prpl) !important;
}

.form-control,
.form-select {
  box-shadow: none !important;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--prpl);
}

.login__wrapper {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 550px;
  min-height: 500px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
}

.chat {
  color: var(--white);
  padding-top: 80px;
}

.sidebar {
  width: 25%;
  padding: 1rem;
  border: 1px solid #212121;
  max-height: 80vh;
  overflow-y: auto;
}

.content {
  min-height: 100%;
  width: 75%;
}

.sidebar {
  background-color: var(--black);
}

.contact-list > div {
  margin: 1rem 0;
}
.contact-list > div:hover {
  background-color: #000;
  cursor: pointer;
}

.chat__header {
  min-width: 100%;
  padding: 0.7rem;
}

.chat__header img {
  width: 55px;
  height: 55px;
  object-fit: cover;

  border-radius: 50%;
}

.contact-list__img img {
  width: 50px;
  height: 50px;
  object-fit: cover;

  border-radius: 50%;
}

.contact-list__details {
  width: 100%;
  margin-left: 0.8rem;
  border-bottom: 1px solid;

  padding: 1rem 0;
  border-color: var(--black);
}

.chat-list__details h3 {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #212121;
}

.chat-content {
  padding: 1rem;
  border: 1px solid var(--black);
  height: 65vh;
  overflow-y: auto;
}

.chat__bubble.default {
  display: flex;
  justify-content: flex-start;
}

.chat__bubble.me {
  display: flex;
  justify-content: flex-end;
}

.chat__bubble__box.default {
  background-color: var(--white);
  text-align: left;
  color: #4d5a80;
  padding: 10px 20px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}

.chat__bubble__box.me {
  background-color: var(--prpl);
  text-align: right;
  padding: 10px 30px;
  color: #fff;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}

.time.default {
  text-align: left;
  font-size: 14px;
  color: rgb(136, 136, 136);
}

.time.me {
  text-align: right;
  font-size: 14px;
  color: rgb(136, 136, 136);
}

.chat-input__content {
  background-color: var(--black);
  height: 6vh;
}

.chat-input__content[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #555;
}
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background-color: rgba(255, 255, 255, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.16);
}
